<?xml version="1.0" encoding="UTF-8"?>


  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.wolen.randomday.domestic.pin.dao.PinDAO">
  
  	<insert id="insertPinPlace" parameterType="map">
  		INSERT INTO `pinPlace`
  		(
  			`userId`
  			, `placeId`
  			, `doName`
  			, `guName`
  			, `menuName`
  			, `imagePath`
  			, `title`
  			, `createdAt`
  		)
  		VALUE
  		(
  			#{userId}
  			, #{placeId}
  			, #{doName}
  			, #{guName}
  			, #{menuName}
  			, #{imagePath}
  			, #{title}
  			, now()
  		)
  	
  	</insert>
  	
  	<delete id="deletePinPlace" parameterType="map">
  		DELETE FROM
  		 `pinPlace`
  		 WHERE
  		  `userId` = #{userId} AND `placeId` = #{placeId}
  	</delete>
  	
  	<select id="selectPlacesById" parameterType="map"
  		resultType="com.wolen.randomday.domestic.pin.model.PinPlace">
  		SELECT
  			`id`
  			,`userId`
  			, `placeId`
  			, `doName`
  			, `guName`
  			, `menuName`
  			, `imagePath`
  			, `title`
  			, `createdAt`
  		FROM
  			`pinPlace`
  		WHERE
  			`userId` = #{userId}
  		ORDER BY
  			`placeId`
  		ASC
  	
  	</select>
  
  
  </mapper>