<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.wolen.randomday.user.dao.UserDAO">
  
  	<select id="selectUser" parameterType="map"
  	 resultType="com.wolen.randomday.user.model.User">
  		SELECT
  			`id`
  			, `loginId`
  			, `password`
  			, `name`
  			, `birth`
  			, `sex`
  			, `email`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`user`
  		WHERE
  			`loginId` = #{loginId}
  	</select>
  	
  	<insert id="insertUser" parameterType="map">
  		INSERT INTO `user`
  		(
  		  	`id`
  			, `loginId`
  			, `password`
  			, `name`
  			, `birth`
  			, `sex`
  			, `email`
  			, `createdAt`
  			, `updatedAt`
  		)
  		VALUE
  		(
  		  	`id`
  			, #{loginId}
  			, #{password}
  			, #{name}
  			, #{birth}
  			, #{sex}
  			, #{email}
  			, now()
  			, now()
  		)
  		
  	</insert>
  
  
  </mapper>