@charset "UTF-8";

#wrap{
	margin:auto;
	width:1200px;
}

header{
	height:50px;
}

section{
	height:500px;
}

section .main-box{
	width:600px;
}

section .login_box{
	width:380px;
	height:410px;
	border-radius:15%;
	background-color:#1f4133;
}

section .signup_box{
	width:380px;
	height:500px;
	border-radius:15%;
	background-color:#1f4133;
}

section .input_box{
	width:210px;
}

section .input_box2{
	width:210px;
	height:40px;
}

section .input_birth_box{
	width:210px;
}

section .input_sex_box{
	width:80px;
}

section #idEmpty, #passEmpty{
	display: none;
}


section .login_btn{
	width:280px;
}


.btn-circle.btn-xl {
			width: 150px;
			height: 150px;
			padding: 13px 18px;
			border-radius: 100%;
			font-size: 25px;
			text-align: center;
			background-color:#1f4133;
		}
		
		
.btn-circle.btn-xl:hover {
			background-color:#152b22;
		}
		
		
.end{
	height:300px;
}